{% extends "base.html" %}
{%block content%}
                <div class="card">
                    <div class="card-header"><h4>Code Snippets.COM</h4></div>
                    <div class="card-body">
                        <form method="post" action="{{ url_for('index') }}">
                            <div class="form-row col-md-4">
                                <select required class="form-control p-3" name="language">
                                    <option value="">Select Programming language</option>
                                    <option value="python">Python</option>
                                    <option value="java">Java</option>
                                    <option value="php">php</option>
                                </select>
                            </div>
                            <div class="form-row p-1">
                                <label><h5>Code</h5></label>
                                <textarea required class="form-control" type="code" name="code" rows="10" style="background-color: black;color:red;">
            
                                </textarea>
                            </div>
                            <div class="form-row p-1">
                                <label><h5>Description</h5></label>
                                <textarea required class="form-control" type="code" name="description" rows="5" style="background-color: black;color:white;">
            
                                </textarea>
                            </div>
                            <br>
                            <button class="btn btn-large btn-success" type="submit">Share Snippet</button>
                        </form>
                    </div>
                </div>
{%endblock content%}      